In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib.dates import DateFormatter

In [2]:
base_bitcoin = pd.read_csv(r'Bitcoin Historical Data.csv')
base_ethereum = pd.read_csv(r'Ethereum Historical Data.csv')
base_bnb = pd.read_csv(r'BNB Historical Data.csv')
base_solana = pd.read_csv(r'Solana Historical Data.csv')

base_bitcoin

            Date     Price      Open      High       Low     Vol. Change %
0     05/17/2024  67,036.8  65,231.1  67,420.7  65,121.7   63.09K    2.77%
1     05/16/2024  65,231.0  66,219.6  66,643.9  64,623.3   72.55K   -1.50%
2     05/15/2024  66,225.1  61,569.4  66,417.1  61,357.5  106.05K    7.56%
3     05/14/2024  61,569.4  62,936.8  63,102.6  61,156.9   68.84K   -2.17%
4     05/13/2024  62,937.2  61,480.5  63,443.2  60,779.0   70.55K    2.37%
...          ...       ...       ...       ...       ...      ...      ...
1594  01/05/2020   7,372.5   7,376.8   7,501.0   7,345.6  628.14K   -0.06%
1595  01/04/2020   7,376.8   7,345.1   7,433.1   7,291.4  523.91K    0.46%
1596  01/03/2020   7,343.1   6,967.1   7,402.9   6,884.1  936.29K    5.40%
1597  01/02/2020   6,967.0   7,199.7   7,209.6   6,901.4  632.78K   -3.23%
1598  01/01/2020   7,199.8   7,196.4   7,259.4   7,180.0  420.28K    0.05%

[1599 rows x 7 columns]

In [3]:
# Converter a coluna para formato de data
for df in [base_bitcoin, base_ethereum, base_bnb, base_solana]:
    df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

# Puxar dados de 2023 ate o mais recente 
base_bitcoin = base_bitcoin[base_bitcoin['Date'].dt.year >= 2023]
base_ethereum = base_ethereum[base_ethereum['Date'].dt.year >= 2023]
base_bnb = base_bnb[base_bnb['Date'].dt.year >= 2023]
base_solana = base_solana[base_solana['Date'].dt.year >= 2023]

# Converter as colunas referentes a dinheiro para float
colunas_dinheiro = ['Price', 'Open', 'High', 'Low']
for df in [base_bitcoin, base_ethereum, base_bnb, base_solana]:
    for coluna in colunas_dinheiro:
        if df[coluna].dtype == 'object':  
            df[coluna] = pd.to_numeric(df[coluna].str.replace(',', ''))

# Converter a coluna 'Change %' para float
for df in [base_bitcoin, base_ethereum, base_bnb, base_solana]:
    if df['Change %'].dtype == 'object':  
        df['Change %'] = pd.to_numeric(df['Change %'].str.replace('%', ''))

# Ordenar data das bases
base_bitcoin = base_bitcoin.sort_values(by='Date')
base_ethereum = base_ethereum.sort_values(by='Date')
base_bnb = base_bnb.sort_values(by='Date')
base_solana = base_solana.sort_values(by='Date')

C:\Users\yupopic\AppData\Local\Temp\ipykernel_15780\453456351.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[coluna] = pd.to_numeric(df[coluna].str.replace(',', ''))
C:\Users\yupopic\AppData\Local\Temp\ipykernel_15780\453456351.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Change %'] = pd.to_numeric(df['Change %'].str.replace('%', ''))

In [4]:
base_bitcoin

          Date    Price     Open     High      Low     Vol.  Change %
502 2023-01-01  16618.4  16537.5  16621.9  16499.7  107.84K      0.49
501 2023-01-02  16674.3  16618.4  16766.9  16551.0  136.03K      0.34
500 2023-01-03  16674.2  16673.1  16773.2  16607.2  178.73K      0.00
499 2023-01-04  16852.1  16674.2  16976.5  16656.5  247.39K      1.07
498 2023-01-05  16829.8  16852.2  16877.9  16772.3  178.96K     -0.13
..         ...      ...      ...      ...      ...      ...       ...
4   2024-05-13  62937.2  61480.5  63443.2  60779.0   70.55K      2.37
3   2024-05-14  61569.4  62936.8  63102.6  61156.9   68.84K     -2.17
2   2024-05-15  66225.1  61569.4  66417.1  61357.5  106.05K      7.56
1   2024-05-16  65231.0  66219.6  66643.9  64623.3   72.55K     -1.50
0   2024-05-17  67036.8  65231.1  67420.7  65121.7   63.09K      2.77

[503 rows x 7 columns]